<div class="modal-header">
    <h2 class="modal-header-title">
        {{lang 'cart.added_to_cart.what_next' num_products=cart.quantity}}
    </h2>
    <button class="modal-close" type="button" title="{{lang 'common.close'}}" {{#if prevent_quick_search_close}}data-prevent-quick-search-close{{/if}}>
        <span aria-hidden="true">&#215;</span>
    </button>
</div>

<div class="modal-body">
    <div class="previewCart">
        <section class="productView">
            {{#with cart.added_item}}
                <figure class="productView-image">
                    <div class="productView-img-container">
                        {{> components/common/responsive-img
                            image=image
                            class="productView-image--cart"
                            fallback_size=../theme_settings.product_size
                            lazyload=../theme_settings.lazyload_mode
                            default_image=../theme_settings.default_image_product
                        }}
                    </div>
                </figure>

                <div class="productView-details">
                    <h4 class="productView-title">{{name}}</h4>
                    <div class="productView-brand">{{brand.name}}</div>
                    <div class="productView-price">
                        {{#or ../customer (unless ../settings.hide_price_from_guests)}}
                            {{quantity}} &times; {{price.formatted}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                </div>
            {{/with}}
        </section>

        <section class="previewCartCheckout">
            <p data-cart-quantity="{{cart.quantity}}">
                {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
            </p>

            <p class="previewCartCheckout-subtotal">
                {{lang 'cart.added_to_cart.order_subtotal'}}
                <strong class="previewCartCheckout-price">
                    {{#or customer (unless settings.hide_price_from_guests)}}
                        {{cart.sub_total.formatted}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </strong>
            </p>

            <div class="previewCartAction">
                <a href="{{urls.checkout.single_address}}" class="button button--primary">
                    {{lang 'cart.added_to_cart.proceed_to_checkout'}}
                </a>

                <a href="{{urls.cart}}" class="button button--small">
                    {{lang 'cart.added_to_cart.view_or_edit_cart'}}
                </a>

                <button class="button button--small" data-reveal-close>
                    {{lang 'cart.added_to_cart.continue_shopping'}}
                </button>
            </div>
        </section>
    </div>
</div>