<div id="scratch-and-dent" class="modal cs-product-modal" data-reveal data-prevent-quick-search-close>
    <div id="modal-content" class="modal-content">
        <div class="modal-layout modal-layout--two-col">
            <div class="modal-col-content">
                <h4>Same Performance, Better Price</h4>
                <p>Performance shouldn't always have to come at a premium. Occasionally, we have parts with minor
                    cosmetic blemishes that don't meet our "shelf-perfect" standards but still function flawlessly.
                    Instead of scrapping them, we offer them to you at a deep discount.</p>
                <p>
                    Often, these blemishes are in spots you'll never even see once installed. Most importantly, we still
                    guarantee the fit and function of every "Scratch & Dent" item. If you aren't stoked with the part,
                    <strong>our standard return policy still applies.</strong>
                </p>
            </div>
            <div class="modal-col-media">
                <img src="/product_images/uploaded_images/blem-parts.jpg"
                    alt="Some examples of parts that we would consider blemished.">
            </div>
        </div>
        <div class="modal-footer">
            <button class="button button--primary" id="blem-accept">Yes, I'll take it</button>
            <button class="button" id="blem-decline">No, thanks</button>
        </div>
    </div>
    <div class="loadingOverlay"></div>
    {{> components/common/modal/modal-close-btn}}
</div>