<div id="usa-message" class="modal cs-product-modal" data-reveal data-prevent-quick-search-close>
    <div class="modal-content">
        <h4>Built in Portland. Driven Everywhere.</h4>
        <p>
            Quality starts at home. We prioritize American-made parts and packaging, with the core of our products
            manufactured in the USA. By pairing our domestic components with select global hardware and specialized
            parts, every kit is hand-finished and assembled at our Portland, OR headquarters to ensure the precision
            CravenSpeed is known for.
        </p>
    </div>
    <div class="loadingOverlay"></div>
    {{> components/common/modal/modal-close-btn}}
</div>