<div id="warranty-message" class="modal cs-product-modal" data-reveal data-prevent-quick-search-close>
    <div class="modal-content">
        <h4>Built for Life.</h4>
            <p>Every CravenSpeed product is backed by a lifetime warranty. We design our gear to outlast the car it's
                bolted to, but if a part ever fails or breaks, we'll replace it at our expense. No hoops, no hassle—just
                our word.</p>
    </div>
    <div class="loadingOverlay"></div>
    {{> components/common/modal/modal-close-btn}}
</div>