<div class="cs-gallery-wrapper">
  <div class="product-image-gallery">
      <div class="slides-wrapper">
          <div class="slides" data-gallery-item="slide">
              {{#if product.images.length '>' '1'}}
                <div class="slide">
                  <img
                    src="{{getImage product.images.[1] 'product_size'}}"
                    srcset="{{getImageSrcset product.images.[1] use_default_sizes=true}}"
                    sizes="(max-width: 800px) 100vw, 50vw"
                    alt="{{product.images.[1].alt}}"
                    fetchpriority="high"
                    />
                  </div>
                  
                  {{#each (after product.images 2)}}
                  <div class="slide">
                    <img loading="lazy" src="{{getImage this 'product_size'}}" srcset="{{getImageSrcset this use_default_sizes=true}}" sizes="(max-width: 800px) 100vw, 50vw" alt="{{this.alt}}" />
                  </div>
                  {{/each}}
                  
                  <div class="slide">
                    <img
                    src="{{getImage product.main_image 'product_size'}}"
                    srcset="{{getImageSrcset product.main_image use_default_sizes=true}}"
                    sizes="(max-width: 800px) 100vw, 50vw"
                    alt="{{product.main_image.alt}}"
                    fetchpriority="high"
                  />
                </div>
              
                {{else}}
              
                <div class="slide">
                  <img
                    src="{{getImage product.main_image 'product_size'}}"
                    srcset="{{getImageSrcset product.main_image use_default_sizes=true}}"
                    sizes="(max-width: 800px) 100vw, 50vw"
                    alt="{{product.main_image.alt}}"
                    fetchpriority="high"
                  />
                </div>
                
              {{/if}}
          </div>
      </div>
      <div class="gallery-nav">
          <button type="button" data-gallery-item="previous" class="gallery-previous" aria-label="Previous Slide">
            <svg class="gallery-arrow" aria-hidden="true"><use xlink:href="#icon-prev" /></svg>
          </button>
          <div class="gallery-map"></div>
          <button type="button" data-gallery-item="next" class="gallery-next" aria-label="Next Slide">
            <svg class="gallery-arrow" aria-hidden="true"><use xlink:href="#icon-next" /></svg>
          </button>
      </div>
      <dialog class="gallery-modal" data-gallery-item="close" aria-modal="true" role="dialog">
          <div class="modal-content-wrapper">
            <div class="modal-content"></div>
            <button type="button" class="gallery-modal-close" data-gallery-item="close" aria-label="Close Gallery">
              <svg class="gallery-arrow" aria-hidden="true"><use xlink:href="#icon-close" /></svg>
            </button>
          </div>
      </dialog>
  </div>
  <div class="gallery-caption"></div>
</div>