---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        <section class="home-hero" data-home-hero aria-label="Featured Promotion">
            {{#each carousel.slides}}
                {{#if @first}}
                    <a href="{{url}}">
                    <img class="cs-hero-image" 
                         src="{{getImage image '600w'}}" 
                         srcset="{{getImageSrcset image use_default_sizes=true}}" 
                         sizes="100vw" 
                         alt="{{heading}}" 
                         title="{{heading}}" 
                         width="2000" height="834" 
                         fetchpriority="high">
                    </a>
                {{/if}}
            {{/each}}
        </section>
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

<div class="main full cs-home">
    <section class="home-section" aria-labelledby="car-selection-heading">
        <h2 id="car-selection-heading" class="is-srOnly">Select Your Vehicle</h2>
        {{> components/common/car-selection}}
    </section>

    <section id="product-grid" class="home-section" aria-label="Matching Products">
        {{> components/products-cs/product-grid }}
    </section>

    <section class="home-section" aria-labelledby="customer-reviews-heading">
        <h2 id="customer-reviews-heading" class="page-heading">From Our Customers</h2>
        <div id="stamped-reviews-widget" data-widget-type="wall-photos" data-style-color-star="#c13119" data-style-color-hover="#696969" data-take="9"data-with-photos="true"></div>
    </section>

    {{#if blog.recent_posts}}
        <section class="cs-blog-posts home-section">
            <h2 class="page-heading">{{lang 'blog.recent_posts'}}</h2>
            <div class="cs-blog-grid">
                {{#each blog.recent_posts}}
                    {{> components/blog/cs-post post=this}}
                {{/each}}
            </div>
        </section>
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
