{{#partial "page"}}
<main class="cs-product-archetype">

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
    <div id="product-messages"></div>

    <article class="cs-product-container" itemscope itemtype="http://schema.org/Product">

        <div class="cs-product-above-fold-layout">

            <section class="cs-product-gallery-wrapper" aria-label="Product Media">
                {{> components/products-cs/gallery}}
            </section>


            <section class="cs-product-info-wrapper" aria-label="Product Information">
                <header class="cs-product-header">
                    <h1 class="cs-product-title" itemprop="name" data-product-title="{{product.title}}" data-product-category="{{product.category}}">
                        {{inject "productTitle" product.title}}
                    </h1>

                    <h2 class="cs-info-row" id="product-sku" data-product-sku="{{product.sku}}">{{product.sku}}</h2>
                    <h2 class="cs-info-row" id="product-shipping" data-product-shipping-info></h2>
                    <h2 class="cs-info-row" id="product-stock" data-product-stock></h2>
                    <h2 class="cs-info-row-double" id="product-price" data-product-price></h2>
                    <a href="#tab-reviews" class="cs-info-row" id="product-rating" data-product-rating>
                        {{> components/products-cs/rating-cs}}
                    </a>
                    <h2 class="cs-info-row" id="product-brand" data-product-brand>{{product.brand.name}}</h2>
                </header>

                <form class="cs-product-form" id="product-selection" action="{{urls.cart}}" method="post" enctype="multipart/form-data" data-cart-item-add data-product-options-container>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <input type="hidden" name="qty[]" value="1">

                    <div class="cs-form-field" data-product-form-field="make">
                        <label for="make" class="cs-form-label">Make</label>
                        <select name="make" id="make" class="cs-form-select" data-product-option="make" disabled>
                            <option selected>{{lang 'loading'}}...</option>
                        </select>
                    </div>
                    <div class="cs-form-field" data-product-form-field="model">
                        <label for="model" class="cs-form-label">Model</label>
                        <select name="model" id="model" class="cs-form-select" data-product-option="model" disabled>
                            <option selected>{{lang 'loading'}}...</option>
                        </select>
                    </div>
                    <div class="cs-form-field" data-product-form-field="year">
                        <label for="year" class="cs-form-label">Year</label>
                        <select name="year" id="year" class="cs-form-select" data-product-option="generation" disabled>
                            <option selected>{{lang 'loading'}}...</option>
                        </select>
                    </div>
                    <div class="cs-form-field" data-product-form-field="option-one">
                        <select name="Option One" id="option-one" class="cs-form-select" data-product-option="option" disabled>
                            <option selected>{{lang 'loading'}}...</option>
                        </select>
                    </div>
                    <div class="cs-form-field" data-product-form-field="option-two">
                        <select name="Option Two" id="option-two" class="cs-form-select" data-product-option="sub_option" disabled>
                            <option selected>{{lang 'loading'}}...</option>
                        </select>
                    </div>

                    <div id="product-fitment-notes"></div>
                    
                    {{> components/products-cs/modals/scratchAndDent}}

                    <div class="cs-add-to-cart-container" id="add-button-wrapper">
                        <button id="product-add-button" type="submit" class="button" disabled>{{lang 'products.add_to_cart'}}</button>
                    </div>
                    
                    {{> components/products-cs/modals/stockNotification}}
                </form>

                <div id="product-badges"></div>
                {{> components/products-cs/modals/warrantyMessage}}
                {{> components/products-cs/modals/shippingMessage}}
            </section>
        </div>


        {{!-- =====================================================================
        // "BELOW THE FOLD" CONTENT
        // Cornerstone tabs for Description, Reviews, etc.
        // ===================================================================== --}}
        <section class="cs-product-tabs-container" aria-label="Product Details">
            {{> components/products-cs/description-tabs-cs}}
        </section>

    </article>
</main>

{{> components/products/schema}}
{{/partial}}
{{> layout/base}}
