---
product_results:
    limit: 1
---

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    <main class="page-content" style="width: 100%;">
        <div id="search-results-heading"></div>
        <div id="global-search-results" class="productGrid-container" aria-live="polite" aria-busy="true">
            <p style="text-align: center; padding: 3rem;">{{lang 'common.loading'}}...</p>
        </div>
    </main>
</section>

{{/partial}}
{{> layout/base}}
